.reset-button {
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
}

.icon {
  width: 1em;
  height: 1em;
  fill: currentColor;
  position: relative;
}
.icon.icon-download {
  background: url("/assets/svg/down.svg") center no-repeat;
  display: inline-block;
  width: 24px;
  height: 24px;
}
.icon.icon-paste {
  background: url(/assets/svg/clipboard.svg) center no-repeat;
  width: 1rem;
  height: 1rem;
}
.icon.icon-ggplay {
  background: url(/assets/svg/googleplay.svg) center no-repeat;
  width: 165.93px;
  height: 48px;
  margin-bottom: 32px;
  display: inline-block;
}

i.icon, i.icon + span {
  display: table-cell;
}

.btn-paste.active .icon-paste {
  background: url(/assets/svg/x.svg) center no-repeat;
  width: 1rem;
  height: 1rem;
}

.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-item.dropdown {
  display: flex;
  gap: 16px;
}

.navbar-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 6px;
  width: 36px;
  height: 36px;
  background: #E8E8F1;
  border-radius: 32px;
}

.navbar-darkmode {
  width: 20px;
  height: 20px;
  background: url("data:image/svg+xml,%0A%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.4999 10.6583C17.3688 12.0768 16.8365 13.4287 15.9651 14.5557C15.0938 15.6826 13.9195 16.5382 12.5797 17.0221C11.2398 17.5061 9.78991 17.5984 8.3995 17.2884C7.0091 16.9784 5.73575 16.2788 4.72844 15.2715C3.72113 14.2642 3.02153 12.9908 2.71151 11.6004C2.40148 10.21 2.49385 8.76007 2.9778 7.42025C3.46175 6.08042 4.31728 4.90614 5.44426 4.03479C6.57125 3.16345 7.92308 2.63109 9.34159 2.5C8.5111 3.62356 8.11146 5.00787 8.21536 6.40118C8.31926 7.79448 8.9198 9.10422 9.90775 10.0922C10.8957 11.0801 12.2054 11.6807 13.5987 11.7846C14.992 11.8885 16.3764 11.4888 17.4999 10.6583V10.6583Z' fill='%2349495A'/%3E%3C/svg%3E%0A") center no-repeat;
}

.navbar-btn.navbar-lang {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #16161D;
}
.navbar-btn.navbar-lang span {
  display: none;
}

.dropdown-menu.dropdown-lang {
  grid-template-columns: 1fr 1fr;
}
.dropdown-menu.dropdown-lang li {
  min-width: 160px;
}

.content p, .content li {
  font-size: 14px;
  line-height: 20px;
}

.content li {
  margin-bottom: 4px;
}

.ol-decorated {
  counter-reset: zone-counter;
  margin: 0;
  text-align: left;
  list-style: none;
  padding: 0;
}
.ol-decorated li {
  position: relative;
  line-height: 24px;
  margin-bottom: 8px;
  padding-left: 32px;
}
.ol-decorated li:before {
  border: 1px solid #337efe;
  box-sizing: border-box;
  color: #337efe;
  content: counter(zone-counter);
  counter-increment: zone-counter;
  display: block;
  height: 25px;
  line-height: 24px;
  left: 0;
  position: absolute;
  text-align: center;
  width: 25px;
  border-radius: 50%;
}

.example {
  margin-top: 1rem;
}
.example b {
  color: #4a4a4a;
}
.example .link-example {
  word-break: break-all;
  color: #6c757d;
  font-size: 0.875rem;
  color: #d63384;
}

@media (min-width: 992px) {
  .nav-item.dropdown {
    gap: 24px;
  }
  .navbar-btn.navbar-lang {
    width: unset;
    height: unset;
    background: unset;
    border-radius: unset;
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-btn.navbar-lang svg {
    display: none;
  }
  .navbar-btn.navbar-lang span {
    display: block;
  }
}
.down-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  gap: 17px;
  background: #F5F7FA;
  border-radius: 8px;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user-fullname {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #16161D;
  margin-bottom: 2px;
}

.user-username {
  font-size: 12px;
  line-height: 15px;
  color: #49495A;
  margin-bottom: 8px;
}

.user-verified {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 6px;
  gap: 4px;
  background: #AEFFC5;
  border-radius: 35px;
  font-weight: 600;
  font-size: 10px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #0B4E2D;
}

.btn-main {
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: #0063F9;
  box-shadow: 0px 1px 4px rgba(22, 22, 29, 0.32);
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  padding: 10px;
}
.btn-main.active {
  font-size: 16px;
  line-height: 19px;
  padding: 14.5px;
}

.btn-main.active::before {
  content: "";
  background: url("/assets/svg/down-two.svg") center no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.download .container {
  padding-bottom: 2rem;
}

.download-box {
  margin-top: 8px;
}

.btn-main.btn-secon {
  background: #00BE63;
  box-shadow: 0px 1px 4px rgba(22, 22, 29, 0.32);
}

.btn-main.btn-back {
  background: #49495A;
  box-shadow: 0px 1px 4px rgba(22, 22, 29, 0.32);
}

.down-right {
  margin-top: 8px;
}

.btn-back.btn-backpc {
  display: none;
}

.copyright {
  padding-top: 16px;
  border-top: 1px solid rgba(0, 0, 0, 0.1294117647);
}
.copyright a {
  text-decoration: none;
}

.copyright-link ul {
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 32px;
}
.copyright-link ul li a {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #2e2e30;
  text-align: center;
  text-decoration: none;
}

.copyright-text {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #6c757d;
  padding-bottom: 1rem;
}

.modal-down, .modal-background {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.modal-down {
  align-items: center;
  display: none;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  z-index: 40;
}

.modal-down.is-active {
  display: flex;
}

.modal-background {
  background-color: rgba(10, 10, 10, 0.86);
}

.modal-container {
  margin: 0 20px;
  max-height: calc(100vh - 160px);
  overflow: auto;
  position: relative;
  width: 100%;
  pointer-events: auto;
  outline: 0;
}

.modal-box {
  background-color: #fff;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1019607843), 0 0 0 1px rgba(10, 10, 10, 0.0196078431);
  color: #4a4a4a;
  display: block;
  padding: 0;
}

.modal-close::after, .modal-close::before {
  background-color: #fff;
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform-origin: center center;
}

.modal-close::before {
  height: 2px;
  width: 75%;
}

.modal-close::after {
  height: 75%;
  width: 2px;
}

.modal-close {
  height: 32px;
  width: 32px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: none;
  cursor: pointer;
  pointer-events: auto;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0;
  outline: 0;
  vertical-align: top;
  background: 0 0;
  position: fixed;
  right: 16px;
  top: 16px;
}

.btn.btn-modal-close {
  width: 100%;
  font-size: 0.875rem;
  padding: 1em;
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 0.25rem;
  cursor: pointer;
  border: none;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.ads-content {
  min-height: 250px;
}

.ad-sticky {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  height: 50px;
  width: 100%;
  left: 0;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, 0.1019607843), 0 -1px 2px 0 rgba(0, 0, 0, 0.0588235294);
}

.ad-close {
  position: absolute;
  top: -24px;
  right: 0;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: none;
  border-right: 0;
  border-top-left-radius: 4px;
}

.btn.share-button {
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  border: none;
  background-color: #29b76b;
  bottom: 80px;
  right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.btn.share-button svg path {
  fill: #fff;
}

@media (min-width: 768px) {
  .copyright .container .copyright-text {
    order: 1;
  }
  .copyright .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .copyright .container .copyright-link {
    order: 2;
  }
}
@media (min-width: 992px) {
  .download-box {
    margin-top: 32px;
  }
  .down-right {
    margin-top: 0;
  }
  .btn-back.btn-backpc {
    margin-top: 22px;
    display: flex;
    max-width: 264px;
  }
  .down-right .btn-back {
    display: none;
  }
}
.dark-theme {
  background: #1A2430;
  color: #E8EAED;
}
.dark-theme .navbar {
  background: #202B39;
  border-color: #202B39;
}
.dark-theme .navbar-btn {
  background: rgba(255, 255, 255, 0.2);
}
.dark-theme .navbar-btn.navbar-lang path {
  stroke: #F5F7FA;
}
.dark-theme .navbar-brand span {
  color: #fff;
}
.dark-theme .navbar-darkmode {
  background: url("data:image/svg+xml,%0A%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_27_354)'%3E%3Cpath d='M10 17.5V19.1667' stroke='%23F5F7FA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15.2998 15.3L16.4831 16.4833' stroke='%23F5F7FA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3.5166 16.4833L4.69993 15.3' stroke='%23F5F7FA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17.5 10H19.1667' stroke='%23F5F7FA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M0.833496 10H2.50016' stroke='%23F5F7FA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.0002 14.1667C12.3013 14.1667 14.1668 12.3012 14.1668 10C14.1668 7.69882 12.3013 5.83334 10.0002 5.83334C7.69898 5.83334 5.8335 7.69882 5.8335 10C5.8335 12.3012 7.69898 14.1667 10.0002 14.1667Z' stroke='%23F5F7FA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15.2998 4.7L16.4831 3.51666' stroke='%23F5F7FA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3.5166 3.51666L4.69993 4.7' stroke='%23F5F7FA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10 0.833344V2.50001' stroke='%23F5F7FA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_27_354'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.dark-theme .navbar-app {
  background: #0063F9;
  color: #FFFFFF;
}
.dark-theme .navbar-app path {
  fill: #fff;
}
.dark-theme .dropdown-menu {
  --bs-dropdown-bg: #2B333E;
}
.dark-theme .dropdown-item {
  color: #FFF;
}
.dark-theme .dropdown-item:hover, .dark-theme .dropdown-item:focus {
  background-color: #191919;
}
.dark-theme .hero {
  background: #0C1625;
}
.dark-theme .copyright-link ul li a {
  color: #fff;
}
.dark-theme .copyright {
  border-color: rgba(255, 255, 255, 0.0784313725);
}
.dark-theme .down-left {
  background: #2B333E;
}
.dark-theme .user-fullname {
  color: #FFFFFF;
}
.dark-theme .user-username {
  color: #C6C6D5;
}
.dark-theme .user-verified {
  color: #86EB8A;
  background: #0D6425;
}
.dark-theme .user-verified path {
  fill: #86EB8A;
}
.dark-theme .btn-main.btn-back {
  background: #E8E8F1;
  box-shadow: 0px 1px 4px rgba(22, 22, 29, 0.32);
  color: #16161D;
}
.dark-theme .btn-main.btn-back svg path {
  fill: #16161D;
}
.dark-theme .hero-input .progress-box {
  background-color: #0c1625;
}
.dark-theme .example b {
  color: #e8eaed;
}
@media (min-width: 992px) {
  .dark-theme .navbar-btn.navbar-lang {
    color: #FFF;
    background: unset;
  }
}/*# sourceMappingURL=style.css.map */